.App {
  text-align: center;
  margin: 0 auto;
  padding: 0 2rem;
  word-wrap: break-word;
}
.App pre {
  overflow: scroll;
  padding: 1rem;
}
.App a,
.App input,
.App textarea {
  display: block;
}

.App textarea {
  /* border: 0 1px solid black; */
  min-height: 10vh;
  outline: 0;
  padding: 0;
  width: 100%;
}
